body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.header{
    width: 100%;
    height: 834px;
    background-image: url(images/header__bg.png);
}
.content{

}
.footer{

}

.header__top{
    width: 76.3%;
}


