body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.header{
/*
    width: 100%;
    height: 834px;
    background-image: url(images/header__bg.png);
*/
}
.content{

}
.footer{

}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header__main{
    background: url(images/header__bg.png);
    height: 834px;
    width: 1600px;
    background-repeat: no-repeat;

}
.header__head{
    height: 147px;
    width: 1220px;
    padding-left: 178px;
    padding-right: 202px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 168px;
}
/*header__top*/

.header__top{
    display: inline-block;
    margin-bottom: 22px;
/*    margin-top: 20px;*/
    margin-left: 11px;
}
.contact-info{
    display: inline-block;
    font: 14px Times New Roman;
    margin-right: 412px;
}
.number-icon{
    display: inline-block;
    margin-top: 24px;
    margin-right: 6px;
}
.number{
    display: inline-block;
    margin-right: 127px;
}
.email-icon{
    display: inline-block;
    margin-right: 5px;
}
.email{
    display: inline-block;
}
.social-media-info{
    display: inline-block;
    margin-right: 84px;
}
.facebook-icon{
    display: inline-block;
    margin-right: 13px;
}
.google-icon{
    display: inline-block;
    margin-right: 16px;
}
.vk-icon{
    display: inline-block;
    margin-right: 19px;
}
.youtube-icon{
    display: inline-block;
}
.login-sign-up{
    display: inline-block;
    font: 14px Montserrat;
}
.login-icon{
    display: inline-block;
    margin-right: 5px;
}
.login{
    display: inline-block;
    margin-right: 30px;
}
.sign-up-icon{
    display: inline-block;
    margin-right: 3px;
}
.sign-up{
    display: inline-block;
}

.header__line{
    width: 1220px;
    height: 3px;
    background-color: #727686;
    margin-bottom: 16px;
}
/*header__bottom*/
.header__bottom{
    margin-left: 7px;
}
.header__logo{
    float: left;
    margin-right: 350px;
}
.header_menu{
    display: inline-block;
    font: 16px Montserrat;
    text-transform: uppercase;
    float: left;
    margin-top: 17px;
}
.menu{
    display: inline-block;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.menu__item{
    display: inline-block;
}
.home{
    margin-right: 49px;
}
.destination{
    margin-right: 54px;
}
.discount{
    margin-right: 52px;
}
.about{
    margin-right: 47px;
}
.blog{
    margin-right: 46px;
}
.contact{

}

/*header__banner*/
.header__title{
    font: 76px Montserrat;
    color: #fff;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}
.header__subtitle{
    font: 40px Montserrat;
    color: #fff;
    text-align: center;
    font-weight: 800;
    margin-bottom: 36px;

}
.header__text{
    font: 18px Lato;
    color: #fff;
    text-align: center;
    margin: 0 410px;
}
.header__button{
    text-align: center;
    margin-top: 59px;
}
.header__btn{
    width: 216px;
    height: 57px;
    background-color: #f4dc3a;
    color: #000;
    border: 1px solid #f4dc3a;
    border-radius: 9px;
    box-sizing: border-box;
    font: 15px Montserrat;
    font-weight: 800;
    text-transform: uppercase;
}
/*BLOCK CONTENT*/

.content__find-hotels{
    height: 333px;
    width: 1600px;
    background: url(images/hotels-bg.png);
}
.find-hotels__title{
    font: 37px Montserrat;
    font-weight: 800;
    padding-top: 71px;
    padding-bottom: 55px;
    padding-left: 673px;
    text-transform: uppercase;
}
.find-hotels__inputs{
/*    height: 107px;*/
    margin-left: 180px;
}
.find-hotels__description-col{
/*    width: 233px;*/
/*    height: 76px;*/
    display: inline-block;

}
.hotels__location-title{
    font: 20px Montserrat;
    font-weight: 600;
    margin-bottom: 15px;
}
.hotels__location-input{
    width: 233px;
    height: 40px;
    margin-right: 20px;
    border-radius: 9px;
}

.hotels__check-in-title{
    font: 20px Montserrat;
    font-weight: 600;
    margin-bottom: 15px;
}
.hotels__check-in-input{
    width: 204px;
    height: 40px;
    border-radius: 9px;
    margin-right: 13px;
}
.hotels__check-out-title{
    font: 20px Montserrat;
    font-weight: 600;
    margin-bottom: 14px;
}
.hotels__check-out-input{
    width: 208px;
    height: 40px;
    margin-right: 18px;
    border-radius: 9px;
}
.hotels__check-out-title{
    font: 20px Montserrat;
    font-weight: 600;
}
.hotels__adult-title{
    font: 20px Montserrat;
    font-weight: 600;
    margin-bottom: 15px;
    border-radius: 9px;
}
.hotels__adult-input{
    width: 132px;
    height: 40px;
    margin-right: 11px;
    border-radius: 9px;
}
.hotels__child-title{
    font: 20px Montserrat;
    font-weight: 600;
    margin-bottom: 15px;
}
.hotels__child-input{
    width: 132px;
    height: 40px;
    border-radius: 9px;
}

.find-hotels__button{
    display: inline-block;
    margin-left: 34px;
}
.find-hotels__btn{
    background: #4c4c4c;
    color: #fff;
    width: 189px;
    height: 41px;
    border: 1px solid #4c4c4c;
    border-radius: 3px;
    font: 15px Montserrat;
    font-weight: 800;
    text-transform: uppercase;
}
/*content__about*/
.content__about{
    width: 1600px;
    height: 612px;
}
.about__left{
    background: url(images/about-bg.png);
    width: 800px;
    height: 612px;
    float: left;
}
.about__right{
    width: 800px;
    height: 612px;
    float: left;
}
.about__right-title{
    font: 37px Montserrat;
    font-weight: 800;
    margin-top: 80px;
    margin-left: 62px;
}
.about__right-subtitle{
    font: 37px Montserrat;
    font-weight: 500;
    margin-left: 62px;
    margin-bottom: 36px;
}
.about__right-text{
    font: 17px Leto;
    margin-left: 68px;
    margin-right: 210px;
    font-weight: 600;
    line-height: 1.5;
}
.about__right-list{
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
    font: 17px Leto;
    font-weight: 500;
    margin-left: 70px;
    margin-top: 45px;
}
.about__right-list li{
    background: url(images/about-mark.png) 0px no-repeat;
    padding-left: 65px;
    color: #000;
    margin-bottom: 40px;
    line-height: 1.5;
    font: 17px Leto;
    font-weight: 600;
    margin-right: 260px;
}
/*Content services*/
.content__services{
    height: 685px;
    width: 1600px;
    background-color: #fff;
}
.services__heading{
    margin-top: 69px;
    text-align: center;
    margin-bottom: 78px;
}
.services__title{
    font: 37px Montserrat;
    font-weight: 800;
    margin-bottom: 27px;
}
.services__subtitle{
    font: 37px Montserrat;
    font-weight: 600;
}
.services__container{

}
.services__container-top{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 194px;
}
.service__item1{
    float: left;
    width: 467px;
    height: 94px;
    margin-right: 232px;
}
.service__item-logo1{
    float: left;
    margin-right: 75px;
    padding-bottom: 40px;
}
.service__item-description-block{
    height: 94px;
/*    width: 437px;*/
}
.service__item-title{
    font: 22px Montserrat;
    margin-bottom: 19px;
}
.service__item-description{
    font: 17px Montserrat;
}
.service__item2{
    float: left;
    width: 487px;
    height: 94px;
}
.service__item-logo2{
    float: left;
    margin-right: 75px;
    padding-bottom: 40px;
}


.services__container-mid{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 194px;
}
.service__item3{
    float: left;
    width: 467px;
    height: 94px;
    margin-right: 228px;
}
.service__item-logo3{
    float: left;
    margin-right: 75px;
    padding-bottom: 40px;
}

.service__item4{
    float: left;
    width: 497px;
    height: 94px;
}
.service__item-logo4{
    float: left;
    margin-right: 75px;
    padding-bottom: 40px;
}
/*///////////*/
.services__container-bottom{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 194px;
}
.service__item5{
    float: left;
    width: 537px;
    height: 94px;
    margin-right: 160px;
}
.service__item-logo5{
    float: left;
    margin-right: 45px;
    padding-bottom: 40px;
}

.service__item6{
    float: left;
    width: 497px;
    height: 94px;
}
.service__item-logo6{
    float: left;
    margin-right: 86px;
    padding-bottom: 40px;
}
/*content__budget-package*/

.content__budget-package{
    background: url(images/budget-package-bg.png) no-repeat;
    height: 760px;
}

.content__budget-package-heading{
    padding-left: 600px;
    padding-top: 91px;
    padding-bottom: 70px;
}
.content__budget-package-title{
    font: 37px Montserrat;
    font-weight: 800;
    margin-bottom: 28px;
}
.content__budget-package-subtitle{
    font: 37px Montserrat;
    font-weight: 600;
}
.content__budget-package-container{
    width: 1600px;
    margin-left: 170px;
}
.content__low-budget-trip{
/*    background: #fff;*/
/*    float: left;*/
/*    display: inline-block;*/
/*    margin-left: 100px;*/

}
.budget-trip__main-block{
    background: #fff;
    width: 383px;
    height: 412px;
    float: left;
    margin-right: 50px;
    border-radius: 9px
}
.budget-trip__title{
    font: 24px Montserrat;
    font-weight: 800;
    text-align: center;
}
.budget-trip__icon{
    text-align: center;
}
.car{
    margin-top: 35px;
    margin-bottom: 30px;
}
.budget-trip__line{
    background: yellow;
    height: 64px;
    width: 398px;
    margin-left: -8px;
}
.budget-trip__price{
    text-align: center;
    padding-top: 12px;
    font: 30px Montserrat;
    font-weight: 600;
}

.train{
    margin-top: 29px;
    margin-bottom: 25px;
}

.content__high-budget-trip{
    margin-right: 184px;
}
.airplan{
    margin-top: 37px;
    margin-bottom: 32px;
}
.budget-trip__list{
    list-style: none;
    list-style-image: url(images/budget-package-mark.png);
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 102px;
    margin-top: 34px;
}
.budget-trip__item{
    font: 17px Lato;
    line-height: 1.7;
}

/*content__tour-status*/
.content__tour-status{
    width: 1600px;
    height: 734px;
    background: #fff;

}
.tour-status__left{
    margin-left: 177px;
    margin-top: 90px;
    float: left;
    margin-right: 80px;
}
.tour-status__left-side-image{

}
.tour-status__right{
    float: left;
    width: 826px;
    height: 734px;

}
.tour-status__right-information{
    margin-top: 90px;
}
.tour-status__infornation-right-heading{
    margin-bottom: 54px;
}
.tour-status__right-title{
    font: 37px Montserrat;
    font-weight: 800;
    margin-bottom: 29px;
}
.tour-status__right-subtitle{
    font: 37px Montserrat;
    font-weight: 600;
}
.tour-status__right-status-bar{
    margin-bottom: 52px;
}
.tour-status__right-status-bar-area{
    width: 704px;
    height: 99px;
    background: #fff;
    border: 2px solid #00a4ff;
    box-sizing: border-box;
}
.status-bar__flight{
    float: left;
    width: 225px;
    height: 97px;
    background-color: #00a4ff;
}
.status-bar__flight-icon{
    padding-top: 26px;
    float: left;
    padding-left: 35px;
    padding-right: 25px;
}
.status-bar__flight-text{
    color: #fff;
    font: 30px Montserrat;
    font-weight: 600;
    padding-top: 27px;
}

.status-bar__cab{
    float: left;
    width: 225px;
    height: 95px;
    background: #e4e4e4;

}
.status-bar__cab-icon{
    padding-left: 35px;
/*    background: grey;*/
    width: 50px;
    height: 40px;
    float: left;
    margin-right: 25px;
    padding-top: 26px;
}
.status-bar__cab-text{
    font: 30px Montserrat;
    font-weight: 600;
    padding-top: 30px;
}
.status-bar__hotel{
    float: left;
    width: 225px;
    padding-top: 20px;
}
.status-bar__hotel-icon{
    width: 50px;
    height: 46px;
    float: left;
    margin-right: 25px;
    padding-left: 35px;
}
.status-bar__hotel-text{
    font: 30px Montserrat;
/*    float: left;*/
    font-weight: 600;
    padding-top: 10px;
}
.tour-status__text{
    font: 17px Lato;
    width: 634px;
    line-height: 1.5;
    margin-bottom: 63px;
}
.tour-status__btn{
    width: 215px;
    height: 56px;
    background: #f7de3b;
    border-radius: 9px;
    border-color: #f7de3b;
    font: 15px Montserrat;
    font-weight: 600;
    text-transform: uppercase;
}

/*content__best-deals*/
.content__best-deals{
    height: 939px;
    width: 1600px;
    background-image: url(images/best-deals__bg.png);
}
.best-deals__heading{
    padding-bottom: 73px;
    text-align: center;
}
.best-deals__heading-title{
    font: 37px Montserrat;
    font-weight: 800;
    padding-top: 79px;
    padding-bottom: 29px;
}
.best-deals__heading-subtitle{
    font: 37px Montserrat;
    font-weight: 600;
}

/*            best-deals content              */

best-deals__container{

}
/*LEFT*/
.best-deals__left{
    width: 394px;
    height: 522px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    margin-left: 215px;
    float: left;
}
.best-deals__left-top-bg{
    width: 375px;
    height: 255px;
    border-radius: 9px 0px 0px 0px;
    background-image: url(images/best-deals__left.png);
    background-size: 375px 255px;
    background-repeat: no-repeat;
}
.best-deals__left-text{
    text-align: center;
    padding-top: 14px;
}
.best-deals__left-text-days{
    font: 20px Montserrat;
    font-weight: 400;
    margin-bottom: 14px;
}
.best-deals__left-text-cities{
    font: 28px Montserrat;
    font-weight: 800;
    margin-bottom: 14px;
}

.best-deals__left-text-description{
    font: 17px Lato;
    font-weight: 600;
    width: 220px;
    height: 42px;
    margin-left: 89px;
    margin-bottom: 14px;
}
.best-deals__left-text-price{
    font: 30px Montserrat;
    font-weight: 800;
}
.best-deals__left-button{
    margin-top: 14px;
}
.best-deals__left-btn{
    width: 157px;
    height: 41px;
    background: #efd739;
    font: 13px Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 9px;
    color: #000;
}
/*CENTER*/
.best-deals__center{
    width: 415px;
    height: 657px;
/*    background: #fff;*/
    background-image: url(images/best-deals__center-bg.png);
    border-radius: 9px;
    margin-left: -20px;
    margin-top: -20px;
    position: relative;
    float: left;
}
.best-deals__center-top-bg{

    height: 255px;
    border-radius: 9px 9px 0px 0px;
    background-image: url(images/best-deals__center.png);
    background-size: 420px 265px;
    background-repeat: no-repeat;
}
.best-deals__center-text{
    text-align: center;
    padding-top: 14px;
}
.best-deals__center-text-days{
    font: 20px Montserrat;
    font-weight: 400;
    margin-bottom: 14px;
}
.best-deals__center-text-cities{
    font: 28px Montserrat;
    font-weight: 800;
    margin-bottom: 14px;
}

.best-deals__center-text-description{
    font: 17px Lato;
    font-weight: 600;
    width: 276px;
    height: 91px;
    margin-left: 77px;
    margin-bottom: 14px;
}
.best-deals__center-text-price{
    font: 30px Montserrat;
    font-weight: 800;
}
.best-deals__center-button{
    margin-top: 14px;
}
.best-deals__center-btn{
    width: 157px;
    height: 41px;
    background: #efd739;
    font: 13px Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 9px;
    color: #000;
}
/*RIGHT*/
.best-deals__right{
/*    width: 394px;*/
    height: 522px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    margin-left: -20px;
    float: left;
}
.best-deals__right-top-bg{
    width: 375px;
    height: 255px;
    border-radius: 0px 9px 0px 0px;
    background-image: url(images/best-deals__right.png);
    background-size: 375px 255px;
    background-repeat: no-repeat;
}
.best-deals__right-text{
    text-align: center;
    padding-top: 14px;
}
.best-deals__right-text-days{
    font: 20px Montserrat;
    font-weight: 400;
    margin-bottom: 14px;
}
.best-deals__right-text-cities{
    font: 28px Montserrat;
    font-weight: 800;
    margin-bottom: 14px;
}

.best-deals__right-text-description{
    font: 17px Lato;
    font-weight: 600;
    width: 276px;
/*    height: 91px;*/
    margin-left: 77px;
    margin-bottom: 14px;
}
.best-deals__right-text-price{
    font: 30px Montserrat;
    font-weight: 800;
}
.best-deals__right-button{
    margin-top: 14px;
}
.best-deals__right-btn{
    width: 157px;
    height: 41px;
    background: #efd739;
    font: 13px Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 9px;
    color: #000;
}
